# 구글 시트(Apps Script 웹앱) 주소와 비밀번호
SHEET_URL=https://script.google.com/macros/s/XXXX/exec
SHEET_KEY=시트_비밀번호

# 대시보드 접속 비밀번호 (직원에게 공유할 값)
DASHBOARD_PASSWORD=원하는_접속_비밀번호

# 로그인 쿠키에 쓰는 비밀 토큰 (아무 긴 무작위 문자열)
AUTH_TOKEN=길고_무작위한_문자열
